<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>swe432</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet> 
     <servlet-name>FormHandler</servlet-name> 
     <servlet-class>cs4501.FormHandler</servlet-class> 
  </servlet> 
  <servlet-mapping> 
     <servlet-name>FormHandler</servlet-name> 
     <url-pattern>/FormHandler</url-pattern> 
  </servlet-mapping> 
  <servlet> 
     <servlet-name>VoteHandler</servlet-name> 
     <servlet-class>cs4501.VoteHandler</servlet-class> 
  </servlet> 
  <servlet-mapping> 
     <servlet-name>VoteHandler</servlet-name> 
     <url-pattern>/VoteHandler</url-pattern> 
  </servlet-mapping> 
  <servlet> 
     <servlet-name>Delete</servlet-name> 
     <servlet-class>cs4501.Delete</servlet-class> 
  </servlet> 
  <servlet-mapping> 
     <servlet-name>Delete</servlet-name> 
     <url-pattern>/Delete</url-pattern> 
  </servlet-mapping> 
  <servlet> 
     <servlet-name>Reset</servlet-name> 
     <servlet-class>cs4501.Reset</servlet-class> 
  </servlet> 
  <servlet-mapping> 
     <servlet-name>Reset</servlet-name> 
     <url-pattern>/Reset</url-pattern> 
  </servlet-mapping> 
</web-app>